@media print{
    body{
        background-color: black;
    }
}
.cv
{
    color:black;

}
.save-btn
{
    background-color: green;
    border-radius: 90px;
    padding: 4px;
    border: 1px black solid;
}