@media print
{
    body{
        width: 100vw;
        margin: 0;
    }
    .w-\[50vw\]
    {
        width: 100vw;
    }
    .btn-id
    {
        display: none;
    }
    .h-auto
    {
        height: 100vh;
    }
}